/* form textfield label unfocused */
.form .MuiFormLabel-root {
    color: lightgrey;
}

/* form textfield label focused */
.form .MuiFormLabel-root.Mui-focused {
    color: #7986cb;
}

/* form textfield input */
/* .form .MuiOutlinedInput-root {
    color: white;
} */

/* form textfield border hovered */
.form .MuiOutlinedInput-root:hover fieldset {
    border-color: #7986cb;
    border-width: 2px;
}

/* form textfield border focused */
.form .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #7986cb;
}